.grid {
  background-color: lightgray;
}

.grid--small .grid-cell {
  height: 20px;
  width: 20px;
}

.grid--medium .grid-cell {
  height: 35px;
  width: 35px;
}

.grid--large .grid-cell {
  height: 50px;
  width: 50px;
}
